/* the creator of Phantom Sans said hc'ers can use it, there's a message in slack somewhere uwu */
/* wifi...
@font-face {
	font-family: "Phantom Sans";
	src:
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff") format("woff"),
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Phantom Sans";
	src:
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff") format("woff"),
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Phantom Sans";
	src:
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff") format("woff"),
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}*/


body {
	--hc-red: #ec3750;
	--hc-muted: #8492a6;
}

body {
	/*font-family: "Phantom Sans"; ugh wifi */
	font-weight: 400;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #1f2d3d;
	background-color: #ffffff;
}

#home-div {
	position: absolute;
	align-self: center;
	justify-self: center;
	float: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #eebac1;

}

h1 {
	text-align: center;
	color: var(--hc-red);
}

form {
	min-width: 40%;
	max-width: 50rem;
	/*
	border: 0.2rem dashed #c0c6cD;
	border-radius: 8px;
	*/
	background-color: #e0e6ed;
	border-radius: 12px; /* from theme.hackclub.com lol */
	padding: 2rem;
	line-height: 1.375;
}
/*
form * {
	margin: 0.1rem;
};
*/

input, textarea {
	font-family: serif;
	font-size: 1rem;
	min-width: 32vw;
	max-width: 40rem;
	border-radius: 4px;
	border: 0;
}

button {
	width: 100%;
}

button {
	align-self: center;
	background-color: var(--hc-red);
	cursor: pointer;
	font-weight: 700;
	transition: transform .125s ease-in-out,box-shadow .125s ease-in-out;
	box-shadow:0 4px 8px rgba(0, 0, 0, 0.125);
	border-radius: 99999px;
	border: 0;
	color: #ffffff;
	min-height: 3rem;
}



button:focus, button:hover {
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.0625),0 8px 12px rgba(0, 0, 0, 0.125);
	transform:scale(1.0625);
}

button#login-button {
	width: 10rem;
}


::placeholder {
	color: #8492a6;
}

textarea {
	height: 7rem;
}

i {
	text-align: left;
}

