/* the creator of Phantom Sans said hc'ers can use it, there's a message in slack somewhere uwu */

@font-face {
	font-family: "Phantom Sans";
	src:
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff") format("woff"),
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Phantom Sans";
	src:
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff") format("woff"),
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Phantom Sans";
	src:
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff") format("woff"),
	url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


:root {
    --bg: #121714;
    --panel: #3E4440;
    --border: #4F5D55;
    --fg: #ffffff;
    --fgd: #DDE4E0;
    --dim: #a2a8c2;
    --hc: #EC3750;
    --hc-secondary: #338EDA;
    --primary: #14F5AA;
    --secondary: #FFC60A;
}

body {
	font-family: "Phantom Sans";
	font-weight: 400;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #1f2d3d;
	background-color: var(--bg);
}

h1 {
    margin: 0.4rem 0rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px dashed var(--border);
    color: var(--fg);
}

a {
    color: var(--hc-secondary);
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    font-weight: 650;
    transition: 0.2s ease all
}

a:hover, a:focus {
    color: var(--primary);
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 3px solid var(--border);
    border-radius: 1rem;
    background-color: var(--panel);
    color: var(--fg);

    margin-top: 5rem;
    padding: 1rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 3px solid var(--border);
    border-radius: 1rem;
    background-color: var(--panel);
    color: var(--fg);

    margin-top: 5rem;
    padding: 1rem;
}


.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textform {
    width: 69vw;
    max-width: 900px;
    background-color: var(--dim);
    border: 0.12rem solid var(--border);
    border-radius: 0.6rem;
    transition: 0.2s ease all;
    padding: 0.26rem;
    font-family: "Phantom Sans";
    font-size: 1rem;
    color: var(--bg);
    font-weight: 500;
}

.textform:focus {
    outline: none;
    border-color: var(--secondary);
}

.textform::placeholder {
    color: var(--border);
    font-family: "Phantom Sans";
    font-size: 1rem;
    font-weight: 300;
}

.textform-long {
    height: 5rem;
}

.form-area {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.1rem;
    margin: 0px 2vw;
    margin-bottom: 0.6rem;
}

.form-label {
    color: var(--fgd);
    padding-left: 0.2rem;
}

.submit {
    margin-top: 0.3rem;
    background-color: var(--hc);
    padding: 0.8rem 5rem;
    border-radius: 10rem;
    border: 0.12rem solid var(--border);

    color: var(--fg);
    font-family: "Phantom Sans";
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 0.01rem;

    transition: 0.2s ease all;
}

.submit:hover {
    border-color: var(--secondary);
}

.submit:focus {
    border-color: var(--secondary);
    outline: none;
}

.note {
    color: var(--dim);
    margin: 0px;
    margin-top: 0.8rem;
    text-align: center;
    font-size: 0.8rem;
}

.error {
    color: var(--fgd);
}

p {
    color: var(--dim);
    margin: 0px;
    margin-top: 0.8rem;
    text-align: center;
    font-size: 1.2rem;
}
