<!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>HC Quotes | 404</TITLE>
		<META NAME="viewport" CONTENT="width=device-width, initial-width=1">
		<LINK REL="stylesheet" HREF="/css/style.css">
	</HEAD>
	<BODY>
	    <div class="panel">
    		<H1>404 <i>(oops :c)</i></H1>
    		<P class="error">The page or quote <b><span style="color: var(--hc);">{{ path }}</span></b> was not found.</P>
            <p class="error">if this is unexpected, contact
                <a href="https://hackclub.enterprise.slack.com/team/U091JJ2JF8E" target="_blank">@qwik</a>
            !</p>
		</div>
		<P class="note"><I>made in 2026 w/ &lt;3 by HC'ers (not an HQ project)</I></P>
	</BODY>
</HTML>
