<!doctype html>
<html>
    <head>
        <title>HC Quotes | 404</title>
        <meta name="viewport" content="width=device-width, initial-width=1" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="panel">
            <h1 class="hul">404 <i>(oops :c)</i></h1>
          		<p class="error">The page or quote <b><span style="color: var(--hc);">{{ path }}</span></b> was not found.</p>
                  <p class="error">if this is unexpected, contact
                      <a href="https://hackclub.enterprise.slack.com/team/U091JJ2JF8E" target="_blank">@qwik</a>!
                  </p>
                <p class="error">go back to home <a href="/login" target="_self">here</a>....</p>
        </div>
        <p class="note">
            <i>made in 2026 w/ &lt;3 by HC'ers (not an HQ project)</i>
        </p>
    </body>
</html>
