<!DOCTYPE html>
<HTML>
		<HEAD>
			<TITLE>hc quotes | quote by {{ author }}</TITLE>
			<META NAME="viewport" CONTENT="width=device-width, initial-width=1">
			<LINK REL="stylesheet" HREF="/css/style.css">
		</HEAD>
		<BODY>
			<DIV ID="home-div">
				<H1>Quote</H1>
				<DIV CLASS="quote">
					<BLOCKQUOTE>
						<P>{{ quote }}</P>
					</BLOCKQUOTE>
					<P>-- {{ author }}</P>
				</DIV>
				<DIV CLASS="vote_buttons">
					<BUTTON onclick='vote(true, "{{ id }}")'>Upvote</BUTTON>
					<SPAN id="vote_count">{{ votes }}</SPAN>
					<BUTTON onclick='vote(false, "{{ id }}")'>Downvote</BUTTON>
				</DIV>
			</DIV>
			<SCRIPT>
			    const voted = {{ voted | tojson }};
				const loggedin = {{ logged_in }}

				if (voted || !loggedin) {
					voteButtons = document.querySelector("div.vote_buttons button");
					for (let i = 0; i < voteButtons.length; i++) {
						voteButtons[i].disabled = true;
						};
				};
			</SCRIPT>
		</BODY>
</HTML>
