<!doctype html>
<html>
    <head>
        <title>hc quotes | quote by {{ author }}</title>
        <meta name="viewport" content="width=device-width, initial-width=1" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div class="panel" style="width: unset; flex-direction: row; justify-content: space-between;">
            <div class="quote-cont">
                <p class="quote" style="font-size: 2rem; align-self: flex-start;">
                    <span class="bigassquote">❝</span>
                    <br> {{ quote }} <br>
                    <span class="bigassquote">❞</span>
                </p>
                <p class="author" style="font-size: 1.5rem; align-self: center;">
                    ~ {{ author }} (submitted by {{ submitter }}!)
                </p>
            </div>
            <div class="vote-buttons" style="margin-left: 2rem;">
		    <button class="vote-btn upvote q{{ id }}" aria-label="up" onclick="vote(true, '{{ id }}')">
                    <svg viewBox="0 0 24 24">
                        <path d="M4 14h6v8h4v-8h6L12 4 4 14z"/>
                    </svg>
                </button>
                <span class="vote-count" id="vote_count_{{ id }}">{{ votes }}</span>
		<button class="vote-btn downvote q{{ id }}" aria-label="down" onclick="vote(false, '{{ id }}')">
                    <svg viewBox="0 0 24 24">
                        <path d="M20 10h-6V2h-4v8H4l8 10 8-10z"/>
                    </svg>
                </button>
            </div>
        </div>
        <p class="note"><a href="/">← go home</a> | <i>made in 2026 w/ &lt;3 by HC'ers (not an HQ project)</i></p>

        <script>
               const voted = {{ voted | tojson }};
            const loggedin = {{ logged_in | tojson }}

            if (voted || !loggedin) {
              const id = {{ id | tojson }}
		    voteButtons = document.getElementsByClassName("q" + id);
            	for (let i = 0; i < voteButtons.length; i++) {
            		voteButtons[i].disabled = true;
            		};
            };
        </script>
    </body>
</html>
